// ===============  take in pixels, spit out rem value (just for fun)

@function rem($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}

// =============== media-queries
@mixin media-query ($size) {
    @if $size == desktop {
        @media screen and (min-width: 1200px) {
            @content;
        }
    }
    @else if $size == tablet {
        @media screen and (min-width: 992px) {
            @content;
        }
    } 
    @else if $size == tablet-mini {
        @media screen and (min-width: 786px) {
            @content;
        }
    } 
    @else if $size == large-mobile {
        @media screen and (min-width: 500px) {
            @content;
        }
    } 
    @else if $size == mobile {
        @media screen and (min-width: 300px) {
            @content;
        }
    } 
    @else if $size == mobile-mini {
      @media screen and (min-width: 300px) {
          @content;
      }
  } 
  }


//================= Colors

$color-text: hsl(238, 29%, 16%);
$color-text-active: hsl(14, 88%, 65%);
$color-divider: hsl(240, 5%, 91%);
$color-text-primary: hsl(240, 6%, 50%);
$color-text-secondary: hsl(237, 12%, 33%);
$color-gradient-1: hsl(273, 75%, 66%);
$color-gradient-2: hsl(240, 73%, 65%);
$color-accordion-bg: hsl(0, 0%, 100%);
$shadow-main: rgba(0, 0, 0, 0.308);   
$gradient-bg: linear-gradient(90deg, $color-gradient-1, $color-gradient-2);

//================= Font

$font-main: 'Kumbh Sans', sans-serif;

//================= Font Weights

$weight-regular: 400;
$weight-bold: 700;

//================= Base

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

body{
    background: $gradient-bg;
    max-width: 100%;
    min-height: 0vh;
    font-family: $font-main;
    color: $color-text;
    font-size: rem(13);
    line-height: rem(20);
    padding: rem(20);

    @include media-query(large-mobile) {
        min-height: 100vh;
    }
    @include media-query(desktop) {
        display: grid;
        place-items: center;
    }
}

.accordion {
    max-width: rem(800);
    min-height: rem(400);
    margin: rem(150) rem(0) rem(20) rem(0);
    background-color: $color-accordion-bg;
    border-radius: rem(20);
    display: flex;
    flex-direction: column;
    position: relative;

    @include media-query(large-mobile) {
        margin: rem(250) auto rem(100) auto;
    }
    @include media-query(desktop) {
        width: rem(1200);
        flex-direction: row;
        margin: rem(0) rem(0) rem(0) rem(0);
        padding: rem(40);
        background-image: url(../images/illustration-woman-online-desktop.svg);
        background-repeat: no-repeat;
        background-size: rem(400) auto;
        background-position: rem(-60) 50%;
        z-index: 100;
    }


    &__image {
        min-height: rem(100);
        max-width: 100%;
        text-align: center;
        justify-content: center;
        height: rem(10);

        
        @include media-query(large-mobile) {
            min-height: rem(150);
        }
        @include media-query(desktop) {
            flex: 1;
            min-height: rem(400);
        }

        &--mobile {
            position: relative;
            max-width: rem(1000);
            min-height: 100%;
            text-align: center;
            
            @include media-query(desktop) {
                display: none;
            }
        }

        img {
            width: 70%;
            height: auto;
            text-align: center;
            transform: translateY(-55%) translateX(-5%);
        }

        &--desktop {
            display: none;

            @include media-query(desktop) {
                display: initial;
                position: absolute;
                transform: translateY(75%) translateX(-70%);
            }
        }
    }

    &__content {
        flex: 5;
        padding: rem(30);

        @include media-query(desktop) {
            flex: 1;
        }
    }
}


//=========== Accordion

.accordion {

    &__container-wrap {
        margin: rem(20) rem(0);
    }

    &__title {
        

        h1 {
            text-align: center;
            font-size: rem(25);
            line-height: rem(50);
            font-weight: $weight-bold;

            @include media-query(desktop) {
                text-align: left;
                font-size: rem(30);
            }
        }
    }

    &__header {
        min-height: rem(0);
        padding: rem(5) rem(0);
        border-bottom: rem(1) solid $color-divider;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 0.5s;
        cursor: pointer;

        img {
            width: rem(13);
            height: auto;
            cursor: pointer;
            animation: accord 0.5s linear both;

            @keyframes accord {
                0% {transform: rotateX(360deg)}
                100% {transform: rotateX(180deg)}
                
            }
        }

        h4 {
            font-size: rem(13);
            line-height: rem(20);
            font-weight: $weight-bold;
            color: $color-text;
        }
    }

    &__body {
        min-height: rem(0);

        &-container {
            margin-top: rem(10);
        }
    }
}

.active__header {
    h4 {
        font-weight: $weight-regular; 
        color: $color-text;
    }

    img {
        animation: accordActive 0.5s linear both;

        @keyframes accordActive {
            0% {transform: rotateX(180deg)}
            100% {transform: rotateX(360deg)}
            
        }
    }
}

.active__body {
    display: none;
}